%a{
	outline:0 !important;
	-webkit-appearance:none;
}
a{
	@extend %a;
	&:hover{
		@extend %a;
	}
	&:active{
		@extend %a;
	}
	&:focus{
		@extend %a;
	}
	&:visited{
		@extend %a;
	}
}
body{
  width:100%;
  background:$blackBg;
  font-family:"Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP", sans-serif;
font-size:$font-size-base;
}
audio{width:100%;}
#main{
	max-width:$maxWidth;
	min-height:1000px;
	margin:0 auto;
	padding-top:35px;
	h2{
		text-align:center;
		color:$offWhite;
		margin-top:0;
		margin-bottom:20px;
	}
}



