.view-item{
  position:relative;
}
.view-item.ng-enter,
 {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}
.view-item.ng-enter,
 { 
  left:500px;
}
.view-item.ng-enter.ng-enter-active {
    left:0;
}