// //
// // Gallery
// // could be used as a silent class  --------------------------------------------------
%liImg{
   height:138px;width:88%;padding:10px;
   &:hover{
    cursor:pointer;
   }
}

%plan{
  padding:0;
  height:230px;
  width:286px;
  background:#000;
  display:inline-block; 
  margin:25px 20px 0 0;
  @include border-radius();
  text-align: center;
  @include box-shadow(0, 0, 6px, 2px, "#b0b2ab");
  opacity:0.6;
}

%albumH2{
  font-size: 18px;
  color: #ededed;
  text-transform: uppercase;
  height: 21px;
  margin:0;
  text-align:center;
}
%albumH3{
  font-size: 15px;
  color: #999;
  margin: 0;
  padding: 0;
  height: 24px;
  line-height: 21px;
}
%albumP{
  font: 14px /1.2 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

#albumList{
  .plan{
    @extend %plan;
  }
  .plan-name-bronze{
    background:none;
    color:#000;
  }
  li{
    h2{
      @extend %albumH2;
    }
    h3{
      @extend %albumH3;
    } 
    p{
     @extend %albumP;
    }              
    img{
     @extend %liImg;
    }
  &:hover{
    cursor:pointer;
    opacity:1.0;
   }  
  }
}
#songsList{
  margin-top:20px;
  text-align:center;
  .plan{
   @extend %plan;
  }
  .plan-name-bronze{
    background:none;
    color:#000;
  }
   li{
    h2{
      @extend %albumH2;
    }
    h3{
      @extend %albumH3;
    } 
    p{
     @extend %albumP;
    }                 
    img{
      @extend %liImg;
    }
  &:hover{
    cursor:pointer;
    opacity:1.0;
   }  
  }
}

.plan{
  ul{
    list-style: none;
    margin: 0;
  }  
}
.plan-name-bronze{
  color: #fff;
  background-color: #665D1E;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

#albumView{
  .note{
    background:#000;
    padding:15px;
    width:50%;
    margin:0 0 20px 40px;
    text-align:center;
    color:#999;
    $downArrow:"\f0dd";
    @include border-radius();
    @include arrDown($downArrow, #000, 70px, -4px, 47%);
  }
}