#playerAudio{
  xpadding-top:50px;
}
#albumRecords, #albumView {float:left;}
#songsCollection{
  a.song{
    float:left;
    width:85%;
  }
  .menu{
    margin-bottom:20px;
    display:none;
    a{
      margin-right:10px;
      &:hover{
      text-decoration:none;
      color:#ffffff;
      }
    }
    
    .icon-white{
      position:relative;
      top:3px;
    }
  }
  ul{
    margin:0;
    padding:0;
    list-style:none;
    margin-top:20px;
    li{
      background:#000;
      padding:4px 2px;
      margin:2px 0;
      overflow:hidden;
      a{
        text-overflow:ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &:hover{
        background:#4F2F4F;
        a.song{
          color:#fff;   
          text-decoration:none;
        }
      }
      .glyphicon-music{
        margin-right:5px;
      }
      img{
        width:70px;
        height:50px;
        margin-right:36px;
        margin-left:10px;
        float:left;
      }
      span{
        display:inline-block;
        padding-top:14px;
      }
    }
    li.selected{
      background:#4F2F4F;
      color:#000;
      a{
        color:#fff;
      }
    }
  }
  .icon-music{
    padding-left:10px;
    margin-top:5px;
  }
  #remove{
    float:right;
    padding-top:14px;
    padding-right:20px;
  }
}